
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>OpenGov Vendor Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet prefetch' href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css'>
      <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
      <link rel="stylesheet" href="css/style.css">
      <!-- TODO: Roger to convert this object to GeoJSON <%= @output.to_json %> -->
      <script>
      var data = {
         "type": "FeatureCollection",
         "features": [
        {
          "type": "Feature",
          "geometry": {
             "type": "Point",
             "coordinates":  [ -83.00349,39.9626487 ]
          },
          "properties": {
          "entity":"Columbus",
          "total":1168.32,
          "population":809798,
          "count":12,
          "max":97.56,
          "75th":97.32,
          "25th":97.32
          }
        },
        {
          "type": "Feature",
          "geometry": {
             "type": "Point",
             "coordinates":  [ -80.694757,40.887518 ]
          },
          "properties": {
          "entity":"City of Columbiana, OH",
          "total":69375.79,
          "population":null,
          "count":354,
          "max":669.28,
          "75th":266.89,
          "25th":84.4175
          }
        },
        {
          "type": "Feature",
          "geometry": {
             "type": "Point",
             "coordinates":  [ -84.3605022,39.8631101 ]
          },
          "properties": {
          "entity":"City of Clayton",
          "total":37930.55,
          "population":null,
          "count":300,
          "max":729.99,
          "75th":168.0925,
          "25th":55.11
          }
        },
        {
          "type": "Feature",
          "geometry": {
             "type": "Point",
             "coordinates":  [ -81.4840186,41.1387343 ]
          },
          "properties": {
          "entity":"Cuyahoga Falls",
          "total":30662.83,
          "population":null,
          "count":161,
          "max":1214.2,
          "75th":173.4,
          "25th":25.395
          }
        },
        {
          "type": "Feature",
          "geometry": {
             "type": "Point",
             "coordinates":  [ -84.4091013,39.8348289 ]
          },
          "properties": {
          "entity":"City of Brookville (Montgomery)",
          "total":30795.41,
          "population":null,
          "count":403,
          "max":399.99,
          "75th":99.86,
          "25th":-0.2
          }
        },
        {
          "type": "Feature",
          "geometry": {
             "type": "Point",
             "coordinates":  [ -82.9391206,39.9574626 ]
          },
          "properties": {
          "entity":"Bexley",
          "total":24094.1,
          "population":13252,
          "count":22,
          "max":5003.82,
          "75th":1962.995,
          "25th":100.42
          }
        }
      ]
      }
      </script>

  </head>
  <body>
    <div class="panel map">
      <div id="map"></div>
    </div>

    <div class="panel panel-default">
      <!-- Default panel contents -->
       <div class="panel-heading">Municipalities and Transactions</div>
       <div class="panel-body">
       <table id="table" class="table">
          <thead>
             <th>Entity</th>
             <th>Total Spend</th>
             <th>Population</th>
             <th>Num. Transactions</th>
             <th>Max. Transaction</th>
          </thead>
          <tbody></tbody>
       </table>
      </div>
    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.1.1/chroma.min.js'></script>
    <script src="js/index.js"></script>

  </body>
</html>
